
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_url, class: "navbar-item logo" do %>
      <h2>Rails Performance</h2>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Dashboard', root_url, class: "navbar-item #{active?(:dashboard)}" %>
      <%= link_to 'Requests Analysis', requests_url, class: "navbar-item #{active?(:requests)}" %>
      <%= link_to '500 Errors', crashes_url, class: "navbar-item #{active?(:crashes)}" %>
      <%= link_to 'Recent Requests', recent_url, class: "navbar-item #{active?(:recent)}" %>
      <% if defined?(Sidekiq) %>
        <%= link_to 'Sidekiq', jobs_url, class: "navbar-item #{active?(:jobs)}" %>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%#= link_to 'Export to CSV', '#', target: '_blank', class: "button is-primary" %>
          <%= link_to '/', target: '_blank', class: "button is-light home_icon" do %>
            <%= icon('home') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>