<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "About", '/home/about' %></li>
      <li><%= link_to "Contact", '/home/contact' %></li>
      <li><%= link_to "Account", '/account/site/about' %></li>
      <li><%= link_to "Account (remote)", '/account/site/about.js' %></li>
      <li><%= link_to "Crash", '/account/site/crash' %></li>
      <li><%= link_to "Not Found", '/account/site/not_found' %></li>
      <li><%= link_to "Redirect", '/account/site/is_redirect' %></li>
      <br>
      <li><%= link_to "Rails Performance Report", '/rails/performance' %></li>
    </ul>
    <br/>
    <%= yield %>
  </body>
</html>
