<%= render '/rails_performance/css' %>

<title>Number of Requests to the Application</title>

<br/>
<br/>
<br/>

<div class="card">
  <h1>Throughput Report<h1>
  <div id="chart"></div>
  <p class="hint">All requests (site visitors, search engines, bots, etc)</p>
</div>

<br/>
<br/>
<br/>

<div class="card">
  <h1>Requests (path, total number, average response time)<h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Requests</th>
        <th>Average (ms)</th>
        <th>Slowest (ms)</th>
      </tr>
    </thead>
    <tbody>
      <% @global.each do |e| %>
        <tr>
          <td><%= e[:group] %></td>
          <td><%= e[:count] %></td>
          <td><%= e[:average].round(2) %></td>
          <td><%= e[:slowest].round(2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br/>
<br/>
<br/>


<%= render '/rails_performance/js' %>

<script>
  var data = <%= raw @data.to_json %>;
  showRequestsChart('chart', data);
</script>

