<table class="<%= table.table_classes %>">
  <thead>
    <tr>
      <th data-sort="string">Datetime</th>
      <th data-sort="string">Controller#action</th>
      <th data-sort="string">Method</th>
      <th data-sort="string">Format</th>
      <th></th>
      <th data-sort="string">Path</th>
      <th data-sort="string">Exception</th>
      <th data-sort="string">Backtrace</th>
      <th data-sort="string">Status</th>
      <th data-sort="float">Duration</th>
      <th data-sort="float">Views</th>
      <th data-sort="float">DB</th>
    </tr>
  </thead>
  <tbody>
    <% if table.data.empty? %>
      <tr>
        <td colspan="12"><%= table.empty_message %></td>
      </tr>
    <% end %>

    <% table.data.each do |e| %>
      <tr>
        <td><%= format_datetime e[:datetime] %></td>
        <td>
          <%= link_to rails_performance.rails_performance_summary_path({controller_eq: e[:controller], action_eq: e[:action]}), remote: true do %>
            <span class="details_icon">
              <%= icon 'details' %>
            </span>
            <%= e[:controller] + '#' + e[:action] %>
          <% end %>
        </td>
        <td><%= e[:method] %></td>
        <td><%= e[:format] %></td>
        <td><%= bot_icon e["user_agent"] %></td>
        <td>
          <span class="with_external_icon">
            <%= link_to_path(e) %>
            <span class="icon external_icon">
              <%= icon('external') %>
            </span>
          </span>
        </td>
        <td><%= e[:exception] %></td>
        <td class="very-small-text">
          <%= raw e[:backtrace]&.join("<br/>") %>
        </td>
        <td><%= status_tag e[:status] %></td>
        <td class="nowrap"><%= ms e[:duration] %></td>
        <td class="nowrap"><%= ms e[:view_runtime] %></td>
        <td class="nowrap"><%= ms e[:db_runtime] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
