<table class="<%= table.table_classes %>">
  <thead>
    <tr>
      <th data-sort="string">Datetime</th>
      <th data-sort="string">Job ID</th>
      <th data-sort="string">Type</th>
      <th data-sort="string">Class</th>
      <th data-sort="string">Method</th>
      <th data-sort="string">Status</th>
      <th data-sort="float">Duration</th>
    </tr>
  </thead>
  <tbody>
    <% if table.data.empty? %>
      <tr>
        <td colspan="7"><%= table.empty_message %></td>
      </tr>
    <% end %>
    <% table.data.each do |e| %>
      <tr>
        <td><%= format_datetime e[:datetime] %></td>
        <td><%= e[:jid] %></td>
        <td><%= e[:source_type] %></td>
        <td><%= e[:class_name] %></td>
        <td><%= e[:method_name] %></td>
        <td><%= status_tag e[:status] %></td>
        <td class="nowrap"><%= ms e[:duration], 1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
