<table class="<%= table.table_classes %>">
  <thead>
    <tr>
      <th data-sort="string">Datetime</th>
      <th data-sort="string">Method</th>
      <th data-sort="string">Path</th>
      <th data-sort="string">Status</th>
      <th data-sort="float">endpoint_render.grape</th>
      <th data-sort="float">format_response.grape</th>
      <th data-sort="float">endpoint_run.grape</th>
    </tr>
  </thead>
  <tbody>
    <% if table.data.empty? %>
      <tr>
        <td colspan="7"><%= table.empty_message %></td>
      </tr>
    <% end %>
    <% table.data.each do |e| %>
      <tr>
        <td><%= format_datetime e[:datetime] %></td>
        <td><%= e[:method] %></td>
        <td><%= e[:path] %></td>
        <td><%= status_tag e[:status] %></td>
        <td class="nowrap"><%= ms e["endpoint_render.grape"] %></td>
        <td class="nowrap"><%= ms e["format_response.grape"] %></td>
        <td class="nowrap"><%= ms e["endpoint_run.grape"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
