<table class="<%= table.table_classes %>">
  <thead>
    <tr>
      <th data-sort="string">Datetime</th>
      <th data-sort="string">Details</th>
      <th data-sort="float">Duration</th>
      <th data-sort="string">Status</th>
    </tr>
  </thead>
  <tbody>
    <% if table.data.empty? %>
      <tr>
        <td colspan="4"><%= table.empty_message %></td>
      </tr>
    <% end %>
    <% table.data.each do |e| %>
      <tr>
        <td><%= format_datetime e[:datetime] %></td>
        <td>[<%= e[:task].join(" ") %>]</td>
        <td class="nowrap"><%= ms e[:duration] %></td>
        <td><%= status_tag e[:status] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
