<tr from_timei="<%= e[:datetimei] %>">
  <td>
    <% if e[:request_id].present? %>
      <%= link_to rails_performance.rails_performance_trace_path(id: e[:request_id]), remote: true do %>
        <span class="stats_icon_max"><%= icon 'activity' %></span>
      <% end %>
    <% end %>
  </td>
  <td><%= format_datetime e[:datetime] %></td>
  <td>
    <% controller_action_info = e[:controller] + '#' + e[:action]%>
    <%= link_to truncate(controller_action_info, length: 40), rails_performance.rails_performance_summary_path({controller_eq: e[:controller], action_eq: e[:action]}), remote: true, title: controller_action_info %>
  </td>
  <td><%= e[:method] %></td>
  <td><%= e[:format] %></td>
  <td><%= bot_icon e["user_agent"] %></td>
  <td><%= link_to_path(e) %></td>
  <td><%= status_tag e[:status] %></td>
  <td class="nowrap"><%= ms e[:duration] %></td>
  <td class="nowrap"><%= ms e[:view_runtime] %></td>
  <td class="nowrap"><%= ms e[:db_runtime] %></td>
  <td>
    <% if e[:request_id].present? %>
      <%= link_to rails_performance.rails_performance_trace_path(id: e[:request_id]), remote: true do %>
        <span class="stats_icon_max"><%= icon 'activity' %></span>
      <% end %>
    <% end %>
  </td>
</tr>
