<title>Number of Requests to the Application</title>

<% unless @datasource.default? %>
  <%#= link_to raw("&larr; Back"), rails_performance_path, class: "back_link" %>
<% end %>

<div class="has-text-right mb-4">
  <rails-performance-autoupdate interval="10s">
    <label id="autoupdate_label">
      <input type="checkbox" /> Auto-update
    </label>
  </rails-performance-autoupdate>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle is-size-1"><%= ms @percentile_report_data[:p50] %></h2>
        <p class="content is-size-4">p50</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle is-size-1"><%= ms @percentile_report_data[:p95] %></h2>
        <p class="content is-size-4">p95</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle is-size-1"><%= ms @percentile_report_data[:p99] %></h2>
        <p class="content is-size-4">p99</p>
      </div>
    </div>
  </div>
</div>

<% @charts.each do |chart| %>
  <div class="card">
    <div class="card-content">
      <h2 class="subtitle"><%= chart.subtitle %></h2>
      <rails-performance-chart id="<%= chart.id %>" type="<%= chart.type %>" legend="<%= chart.legend %>" <%= %(units="#{chart.units}") if chart.units %> class="chart">
        <%= raw chart.data.to_json %>
      </rails-performance-chart>
      <p class="content is-small"><%= chart.description %></p>
    </div>
  </div>
  <br/>
<% end %>
