<div class="card">
  <div class="card-content">
    <h2 class="subtitle">Requests (path, total number, average response time)</h2>
    <table class="table is-fullwidth is-hoverable is-narrow">
      <thead>
        <tr>
          <th colspan='3'>Name</th>
          <th colspan='3'>Average</th>
          <th colspan='3'>Slowest</th>
        </tr>
        <tr>
          <th data-sort="string">Controller#action</th>
          <th data-sort="string">Format</th>
          <th data-sort="int">Requests</th>
          <th data-sort="float">Duration</th>
          <th data-sort="float">Views</th>
          <th data-sort="float">DB</th>
          <th data-sort="float">Duration</th>
          <th data-sort="float">Views</th>
          <th data-sort="float">DB</th>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |e| %>
          <% groups = e[:group].split("|") %>
          <% c, a = groups[0].split("#") %>
          <tr>
            <td><%= link_to groups[0],  rails_performance.rails_performance_summary_path({controller_eq: c, action_eq: a}), remote: true %></td>
            <td><%= link_to groups[1].try(:upcase),  rails_performance.rails_performance_summary_path({controller_eq: c, action_eq: a, format_eq: groups[1]}), remote: true %></td>
            <td><%= e[:count] %></td>
            <td class="nowrap"><%= ms e[:duration_average] %></td>
            <td class="nowrap"><%= ms e[:view_runtime_average] %></td>
            <td class="nowrap"><%= ms e[:db_runtime_average] %></td>
            <td class="nowrap"><%= ms e[:duration_slowest] %></td>
            <td class="nowrap"><%= ms e[:view_runtime_slowest] %></td>
            <td class="nowrap"><%= ms e[:db_runtime_slowest] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
