<title>System Resources</title>

<% @resources_report.servers.each do |server| %>
  <h1 class="title mt-8 pt-8"><%= server.name %></h1>

  <% server.charts.each do |chart| %>
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle"><%= chart.subtitle %></h2>
        <div class="chart" id="<%= chart.id %>"></div>
        <p class="content is-small"><%= chart.description %></p>
      </div>
    </div>

    <br>

    <% content_for :on_load do %>
      <script>
        whenReady(function() {
          show<%= chart.type %>Chart('<%= chart.id %>', <%= raw chart.data.to_json %>, '<%= chart.legend %>');
        })
      </script>
    <% end %>
  <% end %>
<% end %>
