<title>System Resources</title>

<% @resources_report.data.keys.each do |server_key| %>
  <h1 class="title mt-8 pt-8"><%= server_key.split("///"). join(", ") %></h1>

  <% {
    cpu: ["CPU", "CPU usage %, average per 1 minute", "Percentage", "CPU"],
    memory: ["Memory", "App memory usage", "Usage", "Usage"],
    disk: ["Storage", "Available storage size (local disk size)", "Usage", "Available"],
  }.each.with_index do |(key, (subtitle, description, chart_type, legend)), index| %>
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle"><%= subtitle %></h2>
        <div id="<%= key %>_report_<%= server_key.parameterize %>" class="chart"></div>
        <p class="content is-small"><%= description %></p>
      </div>
    </div>

    <br/>

    <% content_for :on_load do %>
      <script>
        <% @resources_report.data.keys.each do |server_key| %>
          var data = <%= raw @resources_report.send(key)[server_key].to_json %>;
          show<%= chart_type %>Chart('<%= key %>_report_<%= server_key.parameterize %>', data, '<%= legend %>', <%= index %>);
        <% end %>
      </script>
    <% end %>
  <% end %>
<% end %>
