<title>System Resources</title>

<% @resources_report.servers.each do |server| %>
  <h1 class="title mt-8 pt-8"><%= server.name %></h1>

  <% server.charts.each do |chart| %>
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle"><%= chart.subtitle %></h2>
        <rails-performance-chart id="<%= chart.id %>" type="<%= chart.type %>" legend="<%= chart.legend %>" class="chart">
          <%= raw chart.data.to_json %>
        </rails-performance-chart>
        <p class="content is-small"><%= chart.description %></p>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
