<!DOCTYPE html>
<html class="theme-light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rails Performance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag if ::Rails::VERSION::STRING.to_f >= 5.2 %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= engine_stylesheet_link_tag "style" %>
    <%= engine_stylesheet_link_tag "panel" %>
    <%= engine_stylesheet_link_tag "responsive" %>

    <link rel="shortcut icon" href="/favicon.ico">

    <%= engine_javascript_importmap_tags "application", {
      "@rails/ujs" => "https://cdn.jsdelivr.net/npm/@rails/ujs@7.1.3-4/+esm",
      "jquery" => "https://cdn.jsdelivr.net/npm/jquery@3.7.1/+esm",
      "apexcharts" => "https://cdn.jsdelivr.net/npm/apexcharts@3.45.0/+esm",
      "stupid-table-plugin" => "https://cdn.jsdelivr.net/npm/stupid-table-plugin@1.1.3/+esm"
    } %>

    <script>
      window.annotationsData = <%= raw RailsPerformance::Reports::AnnotationsReport.new.data.to_json %>;
    </script>
  </head>

  <body class="has-sticky-footer">
    <div class="loader-wrapper">
        <div class="loader is-loading"></div>
    </div>

    <div class="main-content">
      <section class="section">
        <div class="container is-fluid is-size-7">
          <%= render '/rails_performance/shared/header' %>
          <%= yield %>
        </div>
      </section>
    </div>

    <footer class="footer footer-box">
      <div class="container is-fluid is-size-7">
        © Rails Performance <span class='red'><i class="fas fa-heart"></i></span>
        <%= link_to 'https://github.com/igorkasyanchuk/rails_performance', 'https://github.com/igorkasyanchuk/rails_performance', target: '_blank' %>
        <div class="is-pulled-right">v.<%= RailsPerformance::VERSION %></div>
      </div>
    </footer>

    <%= render '/rails_performance/panel' %>

    <div class="panel-overlay"></div>
  </body>
</html>
