<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rails Performance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag if ::Rails::VERSION::STRING.to_f >= 5.2 %>
    <%= render '/rails_performance/stylesheets/stylesheets' %>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div class="loader-wrapper">
        <div class="loader is-loading"></div>
    </div>
    <section class="section">
      <div class="container is-fluid is-size-7">
        <%= render '/rails_performance/shared/header' %>
        <%= yield %>
        <div class="footer-box">
          © Rails Performance <span class='red'><i class="fas fa-heart"></i></span> <%= link_to 'https://github.com/igorkasyanchuk/rails_performance', 'https://github.com/igorkasyanchuk/rails_performance', target: '_blank' %>
          <div class="is-pulled-right">v.<%= RailsPerformance::VERSION %></div>
        </div>
      </div>
    </section>
    <%= render '/rails_performance/panel' %>
    <div class="panel-overlay">
    <%= render '/rails_performance/javascripts/javascripts' %>
    <%= yield :on_load %>

  </body>
</html>
