<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rails Performance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render '/stylesheets/stylesheets' %>
  </head>
  <body>
    <section class="section">
      <div class="container is-fluid">
        <%= render '/shared/header' %>
        <%= yield %>
      </div>
    </section>
    <%= render '/rails_performance/panel' %>
    <div class="panel-overlay">
    <%= render '/javascripts/javascripts' %>
    <%= yield :on_load %>
  </body>
</html>